@font-face {
    font-family: "headerFont";
    src: url("../fonts/RMStandardFont.woff") format("woff");
}
@font-face {
    font-family: "mainFont";
    src: url("../fonts/RCbodyFont.woff") format("woff");
}
@font-face {
    font-family: "buttonFont";
    src: url("../fonts/RCButtonFont.woff") format("woff");
}
@font-face {
    font-family: "titleFont";
    src: url("../fonts/RCTitleFont.woff") format("woff");
}

body {
    font-family: mainFont, monospace;
}

#navBrandText {
    font-family: headerFont, monospace;
    /* font-weight: 500; */
}

.navList {
    list-style-type: none;
}

.titles {
    font-family: headerFont, monospace;
    /* font-weight: 500; */
}

.learnBtn {
    font-family: "buttonFont", monospace;
}

#plumbusGrp {
    position: relative;
    top: 0;
    left: 0;
}

#mainPlumbusImg {
    height: 70%;
    position: relative;
    top: 0;
    left: 0;
}

#asSeenImg {
    position: absolute;
    top: 65%;
    left: 50%;
    height: 20%;
}

#greetingSection {
    /* height: 90vh; */
}

#footerBadge {
    height: 30px;
}

#footerText {
    font-size: 1.2rem;
    font-weight: bold;
}

.footerPadding {
    padding: 10vh;
}

.greetingItem {
    font-size: 1.3rem;
    font-weight: bold;
}

.loopImg {
    height: 60vh;
    width: auto;
}

.howToImg {
    height: 35rem;
    width: auto;
}

.videoModal, .modal-content-custom {
    background: transparent;
    border: none;
    max-width: none;
}