@font-face {
    font-family: "headerFont";
    src: url("../fonts/RMStandardFont.woff") format("woff");
}
@font-face {
    font-family: "mainFont";
    src: url("../fonts/RCbodyFont.woff") format("woff");
}
@font-face {
    font-family: "buttonFont";
    src: url("../fonts/RCButtonFont.woff") format("woff");
}
@font-face {
    font-family: "titleFont";
    src: url("../fonts/RCTitleFont.woff") format("woff");
}

#navBrandText {
    font-family: titleFont, monospace;
    font-weight: 500;
}

.navList {
    list-style-type: none;
}

#plumbusGrp {
    position: relative;
    top: 0;
    left: 0;
}

#mainPlumbusImg {
    height: 70%;
    position: relative;
    top: 0;
    left: 0;
}

#asSeenImg {
    position: absolute;
    top: 55%;
    left: 75%;
    height: 20%;
}

#greetingSection {
    height: 90vh;
}
